.form {
  display: flex;
  flex-direction: row;
}

.cart {
  border: 40px;
  width: 40px;
}

.register {
  display: grid;
  grid-row: inherit;
  grid-template-columns: auto;
}

.form {
  display: flex;
  flex-direction: column;
  border-right: 2px;
  flex-wrap: wrap;
  height: auto;
  width: 20px;
  border: 2px 2rem black;
  align-items: center;
}
